.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.Main-Container{
 display:flex;
    width:100%;
    height:100%;

}
.infoWindow{
    text-align: center;
    background-color: rgba(255, 139, 116, 0.76);
    margin-left:10px;
    padding:20px;
}
.App-link {
  color: #61dafb;
}
.iwImage{
  width:300px;
  height:200px;
    margin: 0 10px 0 10px;
}
span{
    float:right;
    margin: 0.5em;
}
/*.closeButton .outside{*/
    /*position:absolute;*/
    /*top:16px;*/
    /*left:25px;*/
    /*display:none;*/


/*}*/


@media only screen and(min-width:401px)and  ( max-width: 800px){

    .infoWindow{
    }
    img{
        width:20%;
    }
    
}
@media only screen and (max-width: 400px)
{
    .venueName{
        font-size:1em;
    }
   .iwImage{
       height:5em;
       width:8em;
   }

}
