.menuContainer{
  width:25%;
    background-color:#ff6e40;
    height:100vh;
  overflow: scroll;
}

ul{
  list-style: none;
    padding: 1em;

}
li:hover{
    background-color: #c53d13;
  color: white;
    box-shadow: 5px 0 23px 0  rgba(0,0,0,0.51);

}